* {
    margin: 0;
    padding: 0;
}

body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(123,149,180,1) 100%);
}

#survey-form {
    display: flex;
    flex-direction: column;
}